<div class="content">

    <div class="header">
        <h1>Telemetry Data Visualization</h1>
        <p>
            Displaying telemetry data collected from the
            <a href="https://github.com/flask-dashboard/Flask-MonitoringDashboard" target="_blank">
                Flask Monitoring Dashboard
            </a>.
        </p>

        <p>
            You can find detailed information on how we collect data
            <a href="https://flask-monitoringdashboard.readthedocs.io/en/latest/functionality.html#telemetry" target="_blank">here</a>
        </p>
    </div>
    
    <div class="chart-area">
        <div #chartContainer1 class="chart-container"></div>
        <p class="chart-text">Answers to follow up</p>
    </div>
</div>