<div class="content">
    <div class="header">
        <h1>Telemetry Data Visualization</h1>
        <p>
            Displaying telemetry data collected from the
            <a href="https://github.com/flask-dashboard/Flask-MonitoringDashboard" target="_blank">
                Flask Monitoring Dashboard
            </a>.
        </p>
    </div>

    <div class="unique-users">
        <h2>Unique users: {{ uniqueUserCount }}</h2>
    </div>

    <div class="chart-grid">
        <div class="chart-area">
            <div #chartContainer1 class="chart-container"></div>
            <p class="chart-text">Total amount of endpoints and blueprints for all users</p>
        </div>

        <div class="chart-area">
            <div #chartContainer4 class="chart-container"></div>
            <p class="chart-text">Average amount of endpoints and blueprints per user</p>
        </div>

        <div class="chart-area">
            <div #chartContainer2 class="chart-container"></div>
            <p class="chart-text">Most used monitoring levels for all users</p>
        </div>

        <div class="chart-area">
            <div #chartContainer5 class="chart-container"></div>
            <p class="chart-text">Average amount of monitoring levels per user</p>
        </div>

        <div class="chart-area">
            <div #chartContainer3 class="chart-container"></div>
            <p class="chart-text">Top 10 most visited routes. </p>
        </div>

        <div class="chart-area">
            <div #chartContainer7 class="chart-container"></div>
            <p class="chart-text">Session count per day of the week</p>
        </div>

        <div class="chart-area">
            <div #chartContainer6 class="chart-container"></div>
            <p class="chart-text">App Initializations over time for unique users</p>
        </div>

    </div>
</div>